@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --titulo: "JetBrains Mono", monospace;

  --cor1: #2c2b3d;
  --cor2: #00bfa6;
  --cor3: #c2c2c2;
  --cor4: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--cor1);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a img {
  margin: 71px 101px;
}

nav ul {
  display: flex;
  gap: 64px;
}

nav ul li {
  list-style: none;
  margin-top: 71px;
}

nav ul li + li + li {
  margin-right: 98px;
}

a,
footer {
  text-decoration: none;
  color: var(--cor4);
  font-family: var(--titulo);
  font-size: 14px;
  line-height: 28px;
}

main {
  display: flex;
}

main h1 {
  color: var(--cor4);
  text-align: center;
  font-family: var(--titulo);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  margin-bottom: 59px;
}

main h1 strong {
  color: var(--cor2);
}

main p {
  color: var(--cor4);
}

main p strong {
  font-weight: bold;
}

main p span {
  color: var(--cor2);
  font-weight: bold;
}

section {
  display: block;

  margin-left: 72px;

  width: 604px;
  height: 168px;
}

footer {
  text-align: center;
  margin: 167px 0 23px;
}

footer hr {
  width: 568px;

  margin: 0 auto 27px;

  border: 1px solid #00bfa6;
}

#icone {
position: fixed;
bottom: 20px;
left: 20px;
}
